In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Crop_recommendation.csv')

In [3]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [7]:
data.label.value_counts()

kidneybeans    100
coconut        100
watermelon     100
mungbean       100
jute           100
orange         100
blackgram      100
apple          100
lentil         100
mango          100
mothbeans      100
banana         100
pomegranate    100
cotton         100
pigeonpeas     100
rice           100
coffee         100
maize          100
muskmelon      100
chickpea       100
grapes         100
papaya         100
Name: label, dtype: int64

In [8]:
data.shape

(2200, 8)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [10]:
data.dtypes

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [12]:
data['label'] = le.fit_transform(data['label'])

In [13]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall  label
0  90  42  43    20.879744  82.002744  6.502985  202.935536     20
1  85  58  41    21.770462  80.319644  7.038096  226.655537     20
2  60  55  44    23.004459  82.320763  7.840207  263.964248     20
3  74  35  40    26.491096  80.158363  6.980401  242.864034     20
4  78  42  42    20.130175  81.604873  7.628473  262.717340     20

In [14]:
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [17]:
x = data.drop(['label'],axis=1)
y = data['label']

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3, random_state=42, stratify=y)

In [19]:
x_train

        N   P   K  temperature   humidity        ph    rainfall
864     1  67  21    27.521354  60.536577  6.551578   48.064913
1090  117  82  45    25.293915  79.291222  5.614471  105.422025
304     2  61  20    22.139747  23.022511  5.955617   76.641283
391    40  78  20    19.185728  20.833983  5.669236   80.152934
1686    7  20  12    16.534604  94.767600  6.475275  110.044790
...   ...  ..  ..          ...        ...       ...         ...
119    74  55  19    18.050337  62.893670  6.288868   84.236135
65     99  41  36    24.458021  82.748356  6.738652  182.561632
366    20  69  15    23.442607  22.772559  5.934136  107.413725
333     9  77  17    20.123733  24.452026  5.783425  106.158201
317    27  80  15    19.070962  21.210923  5.788387   86.219176

[1540 rows x 7 columns]

In [20]:
y_train

864     10
1090     1
304      9
391      9
1686    16
        ..
119     11
65      20
366      9
333      9
317      9
Name: label, Length: 1540, dtype: int32

In [21]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt = dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)
acc_dt = accuracy_score(y_test,y_pred)
acc_dt

0.9787878787878788

In [25]:
abc = [1	,67,	21,	27.521354	,60.536577,	6.551578	,48.064913]
result = dt.predict([abc])
result[0]

10

In [26]:
abc = [117	,82	,45,	25.293915,	79.291222,	5.614471	,105.422025]
result = dt.predict([abc])
result[0]

1